/* .container h1 {
    background:  #ff9900;
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
  }

.img{
    width: 700px;
    height: 700px;
    display: block;
    margin: 0 auto;
} */